services:
  solr:
    image: solr:9.8.1
    container_name: solr_test
    ports:
      - "8983:8983"
    volumes:
      - ./volumes/solr:/var/solr
      - ./solr/data:/opt/solr/data
    command: ["solr-precreate", "testcore"]

  dataset-loader:
    image: curlimages/curl:8.14.1
    depends_on:
      - solr
    volumes:
      - ./solr/data:/data
    entrypoint: ["sh","-c"]
    command:
      - |
        echo "[INFO] Waiting for Solr…";
        until curl -s http://solr:8983/solr/testcore/admin/ping | grep -q OK; do sleep 2; done;
        echo "[INFO] Indexing dataset…";
        curl -X POST -H "Content-Type: application/json" --data-binary @/data/dataset.json http://solr:8983/solr/testcore/update?commit=true;
        echo "[INFO] Done indexing.";
